<div class="text-center">
  <h1 class="pb-5">Contact</h1>

      <p><svg class="bi bi-person" width="1.6em" height="1.6em" viewBox="0 0 16 16" fill="#06DF86" xmlns="http://www.w3.org/2000/svg">

      </svg> Centre'Auto'Ccas</p>

      <p><svg class="bi bi-phone" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#06DF86" xmlns="http://www.w3.org/2000/svg">
      </svg> 00 00 00 00 00</p>

      <p><svg class="bi bi-chat" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="#06DF86" xmlns="http://www.w3.org/2000/svg">
      </svg> lodevie@centreauto.com</p>

      <p><svg class="bi bi-geo" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#06DF86" xmlns="http://www.w3.org/2000/svg">
      </svg> 1034 chemin du Sornin</p>

      <p><svg class="bi bi-geo" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
      </svg>42000 Saint Etienne</p>

<br>
    <form class="container w-50 bg-dark text-white p-4" style="border-radius: 1.5rem;" >
      <h3 class="text-center">Demande de création de compte</h3>
      <div class="form-group">
        <label for="exampleInputEmail1">Prénom</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nom</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Téléphone</label>
        <input type="phone" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group pb-3">
        <label for="exampleInputEmail1">Numéro siret</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <a href="#" class="link px-4 py-2 d-flex justify-content-center rounded" style="background-color: #06DF86; color: #191B28; font-weight: bold;" >Envoyer</a>
    </form>


