<h1>A propos de Centre'Auto'Ccas</h1>

<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/mr_lodevie.jpg"  alt="mr lodevie">
      <br>
      <br>
      <h3>Le fondateur</h3>
      <p>Nobis rem assumenda doloribus porro. Voluptatem eveniet nesciunt voluptatum nostrum! Enim illum quaerat tenetur possimus, minima exercitationem rerum voluptatibus tempore nemo fugiat amet quis placeat perspiciatis, harum quidem sequi fugit.</p>
    </div>
    <div class="col-md-6">
      <h3>Notre vision</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, recusandae ipsum quasi pariatur distinctio repudiandae, doloremque illum architecto vitae aliquid alias itaque quam molestiae voluptas a ducimus eaque, non in!
        Doloremque necessitatibus voluptates nisi assumenda odit corporis qui molestias officia accusantium illo amet, aperiam, facilis incidunt maxime deserunt blanditiis quibusdam cumque obcaecati sed. Harum similique, deleniti illum incidunt alias reprehenderit.
        Nobis rem assumenda doloribus porro. Voluptatem eveniet nesciunt voluptatum nostrum! Enim illum quaerat tenetur possimus, minima exercitationem rerum voluptatibus tempore nemo fugiat amet quis placeat perspiciatis, harum quidem sequi fugit.</p>

      <br>
      <h3>Nos partenaires</h3>
      <p>Doloremque necessitatibus voluptates nisi assumenda odit corporis qui molestias officia accusantium illo amet, aperiam, facilis incidunt maxime deserunt blanditiis quibusdam cumque obcaecati sed. Harum similique, deleniti illum incidunt alias reprehenderit.</p>
    </div>

  </div>

</div>
