<footer class="p-4">
  <!-- Footer Links -->
  <nav class="container">
    <!-- Products -->
    <div class="row">
      <div class="col-md-4">

        <ul>
          <a routerLink="mentions">
            <li>Mentions légales</li>
          </a>
          <a routerLink="politique">
            <li>Politique de confidentialité</li>
          </a>
          <a routerLink="conditions">
            <li>Conditions générales d'utilisation</li>
          </a>

        </ul>

      </div>
      <!-- /Products -->

      <!-- Information -->
      <div class="col-md-4">

        <ul>
          <a routerLink="home">
            <li>Accueil</li>
          </a>
          <a routerLink="about">
            <li>A propos</li>
          </a>
          <a routerLink="contact">
            <li>Contact</li>
          </a>
        </ul>

      </div>
      <!-- /Information -->



    </div>


  </nav>
  <!-- /Footer Links -->

  <!-- Copyright -->
  <section class="copyright text-center pt-4">
    Centre'Auto'Ccas <span>&copy; Copyright 2020. All Rights Reserved.</span>
  </section>
  <!-- /Copyright -->

</footer>
