
.fixed-top{
  background-color: var(--background-secondary);
}

.sidebar {
  height: 100%;
  width: .7rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #06DF86;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #191B28;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}

.l{
  padding-left: 2rem;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}


.openbtn {
  font-size: 50px;
  cursor: pointer;
  background-color: transparent;
  color: var(--foreground-default);
  border: none;

}

.openbtn:hover {
  background-color: transparent;
}


#main {
  transition: margin-left .5s; /* If you want a transition effect */
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 450px) {
  img{
    width: 6rem !important;
  }
}

img{
  width: 14rem;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box a{
  color: #06DF86;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #fff;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #06DF86;
}

/deep/ .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #06DF86;
}

/deep/ .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #191B28;
}



