<div class="padding">
  <div class="container py-5 d-flex justify-content-center">
    <div class="card shadow mb-5 pb-4" style="width: 22rem; border-radius: 1.5rem; border: none;">
      <div class="card-body text-center">
        <h2>Connectez-vous</h2>
        <br>
        <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && username.invalid"
            >
              Username is required!
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && password.invalid"
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <a>
              <button class="btn" style="background-color: #06DF86; color: #fff; border-radius: .5rem; font-weight: bold;">
                Se connecter
              </button>
            </a>

          </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              La connexion a échoué: {{ errorMessage }}
            </div>
          </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <small style="line-height: 1;">Tu es un professionnel et tu n'as pas de compte ? Alors fais une demande</small><br>
        <small><a href="#"style="color: cornflowerblue;">Demande création de compte</a></small>
      </div>
    </div>
  </div>
</div>


